/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    height: 100vh;
    width: 100vw;

    row-gap: 10px;
    /* overflow: hidden; */
}

#main-div {
    display: grid;
    background-color: #ffffff;

    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.split {
    display: grid;
    justify-items: center;
    grid-template-rows: 0.2fr repeat(2, minmax(0, 1fr));
}

.board-container {
    height: fit-content;
    display: grid;
    grid-template-areas:
        '. columns'
        'rows board';

    gap: 5px;
}

.board {
    display: grid;
    grid-area: board;
    height: fit-content;
    width: fit-content;

    --tileSize: 35px;
    grid-template-columns: repeat(10, var(--tileSize));
    grid-template-rows: repeat(10, var(--tileSize));
    gap: 2px;
}

.tile {
    user-select: none;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #e8e8e8;
}

.tile:hover,
.tile.hover {
    background-color: #d5d5d4;
}

.ship-overlay {
    position: absolute;

    top: 0;
    left: 0;

    background-color: #e2dddf;
    border: 3px solid #404041;
    border-radius: 10px;

    z-index: 1;
}

/* Ship overlay configs */
/* Len 5 ship */
.ship-overlay[data-len='5'][data-dir='vert'] {
    height: calc(var(--tileSize) * 5 + (2px * 4));
    width: var(--tileSize);
}
.ship-overlay[data-len='5'][data-dir='horiz'] {
    height: var(--tileSize);
    width: calc(var(--tileSize) * 5 + (2px * 4));
}

/* Len 4 ship */
.ship-overlay[data-len='4'][data-dir='vert'] {
    height: calc(var(--tileSize) * 4 + (2px * 3));
    width: var(--tileSize);
}

.ship-overlay[data-len='4'][data-dir='horiz'] {
    height: var(--tileSize);
    width: calc(var(--tileSize) * 4 + (2px * 3));
}

/* Len 3 ship */
.ship-overlay[data-len='3'][data-dir='vert'] {
    height: calc(var(--tileSize) * 3 + (2px * 2));
    width: var(--tileSize);
}
.ship-overlay[data-len='3'][data-dir='horiz'] {
    height: var(--tileSize);
    width: calc(var(--tileSize) * 3 + (2px * 2));
}

/* Len 2 ship */
.ship-overlay[data-len='2'][data-dir='vert'] {
    height: calc(var(--tileSize) * 2 + (2px * 1));
    width: var(--tileSize);
}
.ship-overlay[data-len='2'][data-dir='horiz'] {
    height: var(--tileSize);
    width: calc(var(--tileSize) * 2 + (2px * 1));
}

.board-columns {
    display: grid;
    grid-auto-flow: column;
    grid-area: columns;
    grid-template-columns: repeat(10, var(--tileSize));

    justify-items: center;
    align-items: center;
    gap: 2px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 1.15rem;
    font-weight: 800;
    color: #9097a5;
}

.board-rows {
    display: grid;
    grid-area: rows;
    grid-template-rows: repeat(10, var(--tileSize));

    justify-items: center;
    align-items: center;
    gap: 2px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 1.15rem;
    font-weight: 800;
    color: #9097a5;
}

.board-indicator {
    height: fit-content;
    width: fit-content;
    padding: 10px 100px 10px 100px;
    border-radius: 5px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 1.15rem;
    font-weight: 900;
}

#player-board-indicator {
    background-color: #fc014c;
    color: white;
}

#enemy-board-indicator {
    background-color: #65708b;
    color: white;
}

.shipyard {
    position: relative;
    display: flex;
    /* height:  */
    /* width: 100%; */
    /* align-items: center; */
}

.shipyard-text {
    position: absolute;
    margin: 100% 0% 100% 0%;
    left: 0;
    transform: rotate(-90deg);
    color: #6d707e;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}
